@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";

/* import from Screen Folder */
@import "Screen/login.css";
@import "Screen/friends.css";
@import "Screen/Find.css";
@import "Screen/More.css";
@import "Screen/Settings.css";
@import "Screen/Chatting.css";

/* import from Components Folder */
@import "Components/status-bar.css";
@import "Components/nav-bar.css";
@import "Components/screen-header.css";
@import "Components/icon-row.css";
@import "Components/user-component.css";
@import "Components/badge.css";
@import "Components/red-alarm.css";
@import "Components/alt-screen-header.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 150vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
