#chat-screen {
  background-color: #abc0d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  background-color: #abc0d1;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .alt-header {
  background-color: rgba(171, 192, 209, 0.8);
}

@keyframes fadeIn {
  0% {
    transform: none;
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.chatting {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: white;
  background-color: #93a3b0;
  padding: 15px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

@keyframes messageRow {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  opacity: 0;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: messageRow 0.8s linear forwards;
  animation-delay: 0.8s;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 26px;
  margin-right: 12px;
}

.message__author {
  opacity: 0.8;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 12px 15px;
  border-radius: 18px;
  border-top-left-radius: 0px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

@keyframes messageRowOwn {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row__own {
  opacity: 0;
  justify-content: flex-end;
  animation: messageRowOwn 0.8s linear forwards;
  animation-delay: 1.8s;
}

.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 18px;
  border-top-right-radius: 0px;
  margin-left: 5px;
}

.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  transition: transform 0.3s ease-in-out;
}

.reply__column {
  position: relative;
}

.reply .reply__column:first-child {
  width: 4%;
}

.reply .reply__column:last-child {
  width: 96%;
}

.reply__column:first-child i {
  color: var(--gray-color);
}

.reply input {
  font-size: 15px;
  padding-left: 10px;
  height: 40px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child .fa-smile {
  position: absolute;
  font-size: 28px;
  top: 9px;
  right: 55px;
  color: var(--gray-color);
}

.reply__column:last-child button {
  position: absolute;
  right: -10px;
  top: 2.2px;
  font-size: 24px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column button:hover {
  cursor: pointer;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-4%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
